#board {
  /* display: grid; */
  /* grid-template-columns: repeat(3, 1fr); */
  /* gap: 1px; */
  position: relative;
  width: 400px;
  height: 400px;
  border: 1px solid gray;
  margin: 0 auto;

  background-image: 
  repeating-linear-gradient(90deg, blue 0 1px, transparent 0px 133.333px),
  repeating-linear-gradient(0deg, blue 0 1px, transparent 0px 133.333px);

  /* gap: 20px; */
}

.box {
  display: inline-block; /* */
  /* position: relative; */
  position: absolute;
  width: 130px;
  height: 130px;
  border: 1px solid gray;
  margin: 0;
  font-size: 40px;
  border-radius: 10px;
}

.box-3{
  background-color: #d0c953;
}

.box-6{
  background-color: #faec05;
}

.box-12{
  background-color: #7adf6a;
}

.box-24{
  background-color: #05f80b;
}

.box-48{
  background-color: #05f8e4;
}

.box-96{
  background-color: #0d06a0;
}

.box-192{
  background-color: #bd4fbe;
}

.box-384{
  background-color: #510652;
}

.box-768{
  background-color: #fc7305;
}

.box-1536{
  background-color: #e02823;
}

.box-3072{
  background-color: #1b0302;
  color: whitesmoke;
}

.boxNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}